@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0rem;
  --background: oklch(0.97 0.02 225.66);
  --foreground: oklch(0.15 0.02 269.18);
  --card: oklch(0.98 0.01 228.79);
  --card-foreground: oklch(0.15 0.02 269.18);
  --popover: oklch(0.98 0.01 238.45);
  --popover-foreground: oklch(0.15 0.02 269.18);
  --primary: oklch(0.71 0.15 239.07);
  --primary-foreground: oklch(0.94 0.03 232.39);
  --secondary: oklch(0.91 0.03 229.20);
  --secondary-foreground: oklch(0.15 0.02 269.18);
  --muted: oklch(0.89 0.02 225.69);
  --muted-foreground: oklch(0.36 0.03 230.30);
  --accent: oklch(0.88 0.02 235.72);
  --accent-foreground: oklch(0.34 0.05 229.72);
  --destructive: oklch(0.61 0.24 20.96);
  --border: oklch(0.82 0.02 240.77);
  --input: oklch(0.82 0.02 240.77);
  --ring: oklch(0.55 0.10 235.72);
  --chart-1: oklch(0.57 0.11 228.97);
  --chart-2: oklch(0.45 0.10 270.08);
  --chart-3: oklch(0.65 0.15 159.03);
  --chart-4: oklch(0.75 0.10 100.01);
  --chart-5: oklch(0.55 0.15 299.88);
  --sidebar: oklch(0.93 0.01 238.46);
  --sidebar-foreground: oklch(0.15 0.02 269.18);
  --sidebar-primary: oklch(0.57 0.11 228.97);
  --sidebar-primary-foreground: oklch(0.99 0.01 203.97);
  --sidebar-accent: oklch(0.88 0.02 235.72);
  --sidebar-accent-foreground: oklch(0.15 0.02 269.18);
  --sidebar-border: oklch(0.82 0.02 240.77);
  --sidebar-ring: oklch(0.57 0.11 228.97);
  --destructive-foreground: oklch(1.0000 0 0);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.18 0.02 271.27);
  --foreground: oklch(0.90 0.01 238.47);
  --card: oklch(0.22 0.02 271.67);
  --card-foreground: oklch(0.90 0.01 238.47);
  --popover: oklch(0.22 0.02 271.67);
  --popover-foreground: oklch(0.90 0.01 238.47);
  --primary: oklch(0.71 0.15 239.07);
  --primary-foreground: oklch(0.94 0.03 232.39);
  --secondary: oklch(0.28 0.03 270.91);
  --secondary-foreground: oklch(0.90 0.01 238.47);
  --muted: oklch(0.28 0.03 270.91);
  --muted-foreground: oklch(0.60 0.03 269.46);
  --accent: oklch(0.28 0.03 270.91);
  --accent-foreground: oklch(0.90 0.01 238.47);
  --destructive: oklch(0.64 0.25 19.69);
  --border: oklch(0.90 0.01 238.47 / 15%);
  --input: oklch(0.90 0.01 238.47 / 20%);
  --ring: oklch(0.66 0.13 227.15);
  --chart-1: oklch(0.66 0.13 227.15);
  --chart-2: oklch(0.60 0.10 269.83);
  --chart-3: oklch(0.70 0.15 159.83);
  --chart-4: oklch(0.80 0.10 100.65);
  --chart-5: oklch(0.60 0.15 300.14);
  --sidebar: oklch(0.22 0.02 271.67);
  --sidebar-foreground: oklch(0.90 0.01 238.47);
  --sidebar-primary: oklch(0.66 0.13 227.15);
  --sidebar-primary-foreground: oklch(0.18 0.02 271.27);
  --sidebar-accent: oklch(0.28 0.03 270.91);
  --sidebar-accent-foreground: oklch(0.90 0.01 238.47);
  --sidebar-border: oklch(0.90 0.01 238.47 / 15%);
  --sidebar-ring: oklch(0.66 0.13 227.15);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}