---
name: Lint

on:
    push:
        branches: [ main ]
    pull_request: 
        branches: [ main]

jobs:
    lint:
        name: Lint Code Base
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v6
              with:
                fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 24
            
            - name: Install Dependencies
              run: npm install

            - name: Super-Linter
              uses: super-linter/super-linter@v8.3.2
              env:
                VALIDATE_ALL_CODEBASE: false
                DEFAULT_BRANCH: main
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                VALIDATE_TYPESCRIPT_ES: true
                VALIDATE_JAVASCRIPT_ES: true
                VALIDATE_JSON: true
                VALIDATE_YAML: true
                VALIDATE_MARKDOWN: true